body {
  text-align: center;
  font-family: Arial;
  background-color: #eaf2ff;
}

a {
  display: inline-block;
  margin: 10px;
  padding: 12px 16px;
  background-color: white;
  color: black;
  text-decoration: none;
  border: 2px solid #4a90e2;
  border-radius: 8px;
}

