body {
  font-family: Arial;
  background-color: #eef6ff;
  text-align: center;
}

h1 {
  background-color: #4a90e2;
  color: white;
  padding: 15px;
}

a {
  display: inline-block;
  margin: 10px;
  padding: 12px;
  background-color: white;
  color: black;
  text-decoration: none;
  border: 2px solid #4a90e2;
  border-radius: 8px;
}

img {
  width: 180px;
  border-radius: 10px;
  border: 2px solid black;
}

.good {
  color: green;
  font-weight: bold;
  font-size: 18px;
}
